.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.header {
    background-color: #ff6666;
    color: #000;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 1px;
    box-shadow: none;
}

.seccion {
    display: block;
    padding: 10px;
    gap: 0;
    justify-content: normal;
}

.primer-article {
    background-color: #ffff99;
    color: #000;
    padding: 10px;
    text-align: left;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 10px;
}

.segundo-article {
     background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.gettyimages.es%2Ffotos%2Fisco-real&psig=AOvVaw3CfenkViov0i-lU3vJfOn0&ust=1760169634816000&source=images&cd=vfe&opi=89978449&ved=0CBUQjRxqFwoTCJCr0YCVmZADFQAAAAAdAAAAABAE');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000;
    padding: 10px;
    text-align: left;
    border-radius: 0;
    box-shadow: none;
}

.footer {
    background-color: #cccccc;
    color: #000;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 0;
    margin-top: 20px;
    box-shadow: none;
}